<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/detailscourse.css' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/icon.jpg" />
    <title>Curso: <%= course[0].title %></title>
</head>

<body>
    <%- include('./partials/navigation.ejs') %>
        <div class="container">
            <h1>Detalles del curso: <%= course[0].title %>
            </h1>
            <div class="card">
                <div class="card-image">
                    <img src="<%= course[0].image %>" alt="titulo">
                </div>
                <div class="card-details">
                    <p>
                        <%= course[0].description %>
                    </p>
                    <div class="card-details-footer">
                        <p>Comienza el dia: <%= course[0].start.toLocaleDateString() %>
                        </p>
                        <p>Categoria del curso: <%= course[0].category %>
                        </p>
                        <% if(permission=='client' ) { %>
                            <button class="buttom" onclick="inscribirme(event)"
                                data-parametro="<%= course[0].id %>">Inscribirme</button>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="/javascripts/signupcourse.js"></script>

</body>

</html>